<!DOCTYPE html>
<html>
<head>
<title>Contacts</title>

<style>
body{
    background:#ffe6f0;
    font-family:Arial;
    text-align:center;
    padding-top:120px;
}

.box{
    background:white;
    width:400px;
    margin:auto;
    padding:30px;
    border-radius:15px;
}

body{
    margin:0;
    font-family:'Poppins', sans-serif;

    background: linear-gradient(135deg,#ffd6e8,#d6ecff);

    height:50vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

</style>

</head>

<body>

<div class="box">
<h1>Contacts📞</h1>

<p>Email : anisadwiramahdani@email.com</p>
<p>Instagram : @anisaaramahdani</p>

<br>

<a href="/">Back To Home</a>

</div>

</body>
</html>